body{
    margin: 0;
}

/* Center the box on webpage */
.main{
    position: relative;
    height: 100vh;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 200px;
    width: 200px;
    background-color: lightblue;
    border: 2px solid black;
}

/* Center text inside box */
.box h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: purple;
}