/*  your css code here. If applicable */
.main{
    height: 100vh;          
    display: flex;
    justify-content: center;
    align-items: center;    
}
.main .box{
	background-color:lightblue;
	border:2px solid black;
	height:200px;
	width:200px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}